= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :image
    = f.collection_select :category_id, Category.all, :id, :name, { prompt: 'Choose a Category' }
    = f.input :title
    = f.input :link
    = f.input :description

  .form-actions
    = f.button :submit
