%p#notice= notice

%section.center
  %p= image_tag @post.image.url(:medium)
  %p= @post.title
  %p= @post.link
  %p= @post.description

  - if user_signed_in?
    = link_to 'Edit', edit_post_path(@post)
